<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Statistics">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseStatistics" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Statistics</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseStatistics">
            <li>
                <a href="/admin/">Top Posts</a>
            </li>
            <li>
                <a href="/admin/topusers">Top Users</a>
            </li>
            <li>
                <a href="/admin/topcomments">Top Comments</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Posts</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
                <a href="/admin/posts">All Posts</a>
            </li>
            <li>
                <a href="/admin/posts/my-posts">My Posts</a>
            </li>
            <li>
                <a href="/admin/posts/create">Create Post</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/categories">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Categories</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/comments">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Comments</span>
        </a>
    </li>

</ul>